# Project exclude paths
/.gradle/
/Problems/Initializing an array of characters/out/
/Problems/Initializing an array of characters/out/production/classes/
/Problems/The minimum value of an array/out/
/Problems/The minimum value of an array/out/production/classes/
/Problems/Triples/out/
/Problems/Triples/out/production/classes/
/Tic-Tac-Toe/task/build/